div.card {
    background-color: $primary-bg;
    color: $primary-color;
    width: 100%;
}

.custom-file-label {
    color: $primary-color;
    background-color: transparent;
    height: auto;
}

.form-check-inline {
    height: 100%;
}
